.rootDiv{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-around;
    gap: 40px;
}

#logo{
    height: 60px;
    width: 60px;

}
#container{
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    height: 500px;
    flex-shrink: 0;
    width:100%;

}
#container div{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}
input:focus{
    outline: none;  
}

#imgbox{
    height: 400px;
    width:400px;
}

@media only screen and (max-width:1000px) {
    #imgbox{
        display: none;
    }
    #container{
        align-items: center;
        justify-content: center;
    }
}
#Signup{
        border: none;
        height: 40px;
        background-color: #FFB462;
        border-radius: 5px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        width: 100%;
}
#Signup:hover{
    background-color: #f3922b;
    
}
