#container{
    height: 95vh;
    width:20%;
    border: 1px solid #dadae4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    min-height: 350px;
}
#sutrizlogo{
    height: 50px;
    width:50px
}

#ulOne{
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
}
.things{
    height: 40px;
    width: 90%;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #727277;
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding-left: 8px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

#ulTwo{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(176, 170, 170, 0.311);
}
.things:hover{
    background-color: rgba(243, 160, 5, 0.201);
    cursor: pointer;
}
.textSutriz{
    height: fit-content;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    width: fit-content;
    color: #FFD57F;
    font-weight: bold;
}

.thingsOnActive{
    background-color: rgba(243, 160, 5, 0.201);
    color: orange;
}

#innerContainer{
    height:70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
}
@media (max-width:1030px) and (min-Width:860px) {
    .things{
        font-size:16px ;
    }
    .textSutriz{
        font-size: 30px;
        line-height: 30px;
    }
    #sutrizlogo{
        height: 40px;
        width:40px
    }
}
@media (max-width:860px) {
    .things{
        font-size:12px ;
        width: 120px;
    }
    .textSutriz{
        font-size: 20px;
        line-height: 20px;
    }
    #sutrizlogo{
        height: 30px;
        width:30px
    }
    
}
@media (max-width:700px) {
    #container{
        display: none;
    }
}