#logoContForSmallSizeScreen{
    display: none;
}
#usageBottomNav{
    display: none;
}

@media (max-width:700px) {
    #logoContForSmallSizeScreen{
        display: flex;
        height: 70px;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0px;
        background-color: white;
        z-index: 99;
    }
    #usageBottomNav{
        height: 60px;
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 0px;
        background-color: white;
        font-size: 30px;
        justify-content: space-around;
        align-items: center;
        color: rgba(0, 0, 0, 0.447);
        border-top: 1px solid rgba(0, 0, 0, 0.501);
    }   
}