#logout{
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    right: 2vw;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffae00c1;
    gap: 5px;
    text-decoration: none;
}

#setting{
    display: none;
}
#logout:hover{
    background-color: rgb(255, 174, 0);
}
.settingOption{
    padding-left: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    width: 110px;
    line-height: 40px;
    color: #00000084;
    cursor: pointer;
    text-decoration: none;
}
#settingDivActive{
    border: 1px solid #00000030;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10.5vh;
    left: 55vw;
    background-color: white;
}
#settingDivUnActive{
    display: none;
}
@media (max-width:700px) {
    #logout{
       display: none;
    }
    #setting{
        display: block;
        position: relative;
        left: 7vw;
        height: 30px;
        width: 30px;
        color: rgba(0, 0, 0, 0.649);
    }
}